extends layout

block content
  h1 ReciclaPuntos
  p.lead Transforma tus residuos en puntos.
  hr
  .row
    .col-md-6
      h2 ¿De que se Trata?
      p Es una forma para intercambiar plastico en buen estado por nuevos productos hechos con plastico reciclado.
      p Al hacerlo, te damos unos puntos que podes canjear en nuestro catálogo. Luego te los entregan la próxima vez que pase el recolector.
      p
        a.btn.btn-raised(href='#', role='button') Ver Detalles »
    .col-md-6
      h2 ¿Como Funciona?
      p La mayoría del plástico no se recicla porque se mezcla con los residuos urbanos y complica su clasificacion y limpieza. Si entregamos nuestros plástico limpio y agrupado, tiene mucho valor!
      p Las cooperativas venden una parte del plástico reciclado para pagar sus sueldos y el resto se usa para fabricar las recompensas por tus puntos.  
      p
        a.btn.btn-raised(href='#', role='button') Ver Catálogo »
    .col-md-6
      h2 Clasificando el Plástico
      p Es muy fácil, en nuestro pequeño tutorial te enseñaremos sobre las distintas clases de plástico y como reconocerlos y separarlos. Mientras mejor trabajo hagas, más puntos ganas!
      p
        a.btn.btn-raised(href='#', role='button') Ver Tutorial »
    .col-md-6
      h2 Nuestros Recicladores
      p Reciclapuntos se compone de dos grupos, los recolectores, que pesan y clasifican el plástico, y los procesadores que lo preparan para ser reutilizado. Vos también podés participar en estos roles!
      p
        a.btn.btn-raised(href='#', role='button') Como Participar »